/*
    wood-duck
    Version    : 1.1.0
    Author     : Sierra
    Author URI : http://tenteroring.luna.ddns.vc/sierra/
    License    : CC BY-SA 4.0
    License URI: http://creativecommons.org/licenses/by-sa/4.0/
*/

// variable **********************************************
$a4-correction: 0mm;
$a5-correction: 0mm;
$b5-correction: 0mm;

$header-height:10mm;
$footer-height:10mm;

$top-padding:10mm;
$bottom-padding:10mm;
$bind-padding:30mm;
$side-padding:10mm;

// mixin *************************************************
@mixin header {
  display: table;
  width: inherit;
  height: $header-height;
}
@mixin footer {
  display: table;
  width: inherit;
  height: $footer-height;
}
@mixin article{
  flex: 1;
  width: inherit;
}
html, body{
  margin: 0;
  padding: 0;
}
/* A4 ==================================================== */
.a4-size:nth-of-type(2n){
  display: flex;
  flex-direction: column;
  width: 210mm - $bind-padding - $side-padding;
  height: 297mm - $top-padding - $bottom-padding + $a4-correction;
  max-width: 210mm - $bind-padding - $side-padding;
  max-height: 297mm - $top-padding - $bottom-padding + $a4-correction;
  padding: $top-padding $bind-padding $bottom-padding $side-padding;
}
.a4-size:nth-of-type(2n+1){
  display: flex;
  flex-direction: column;
  width: 210mm - $bind-padding - $side-padding;
  height: 297mm - $top-padding - $bottom-padding + $a4-correction;
  max-width: 210mm - $bind-padding - $side-padding;
  max-height: 297mm - $top-padding - $bottom-padding + $a4-correction;
  padding: $top-padding $side-padding $bottom-padding $bind-padding;
}
/* ======================================================= */
/* A5 ==================================================== */
.a5-size:nth-of-type(2n){
  display: flex;
  flex-direction: column;
  width: 148mm - $bind-padding - $side-padding;
  height: 209mm - $top-padding - $bottom-padding + $a5-correction;
  max-width: 148mm - $bind-padding - $side-padding;
  max-height: 209mm - $top-padding - $bottom-padding + $a5-correction;
  padding: $top-padding $bind-padding $bottom-padding $side-padding;
}
.a5-size:nth-of-type(2n+1){
  display: flex;
  flex-direction: column;
  width: 148mm - $bind-padding - $side-padding;
  height: 209mm - $top-padding - $bottom-padding + $a5-correction;
  max-width: 148mm - $bind-padding - $side-padding;
  max-height: 209mm - $top-padding - $bottom-padding + $a5-correction;
  padding: $top-padding $side-padding $bottom-padding $bind-padding;
}
/* ======================================================= */
/* B5 ==================================================== */
.b5-size:nth-of-type(2n){
  display: flex;
  flex-direction: column;
  width: 182mm - $bind-padding - $side-padding;
  height: 256mm - $top-padding - $bottom-padding + $b5-correction;
  padding: $top-padding $bind-padding $bottom-padding $side-padding;
}
.b5-size:nth-of-type(2n+1){
  display: flex;
  flex-direction: column;
  width: 182mm - $bind-padding - $side-padding;
  height: 256mm - $top-padding - $bottom-padding + $b5-correction;
  padding: $top-padding $side-padding $bottom-padding $bind-padding;
}
/* ======================================================= */
.wd-header{
  @include header;
  p{
    display: table-cell;
    vertical-align: middle;
  }
}
.wd-footer{
  @include footer;
  p{
    display: table-cell;
    vertical-align: middle;
  }
}
.wd-article{
  @include article;
}
/* 2 column ============================================== */
.wd-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}.wd-nest{
  width: 48%;
}
/* ======================================================= */
/* table of contents ===================================== */
.wd-index-header{
  width: 95%;
  float: right;
}
.wd-index{
  display: flex;
  height: auto;
  .wd-index-title{
    flex: 1;
    text-align: left;
  }
  .wd-index-dots{
    width: 20mm;
    text-align: center;
  }
  .wd-index-page{
    width: 15mm;
    text-align: right;
  }
}
